.recipe {
  background: transparent;
  box-shadow: 5px 5px 5px 5px grey;
  width: 800px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-width: 40%;
  margin-bottom: 5% !important;
}

.recipe:hover {
  box-shadow: 5px 5px 5px 10px rgb(78, 78, 78);
}
